{% extends 'main.html' %}



{% block content %}

<h1>Login-user Account page</h1>

<a href="{% url 'edit-account' %}">Edit</a>

<h3>{{ profile.name }}</h3>
<img src="{{ profile.user_image.url }}" alt="">
<p>Username: {{ profile.username }}</p>
<p>{{ profile.headline }}</p>
<p>{{ profile.email }}</p>
<p>{{ profile.bio }}</p>
<p>Location: {{ profile.location }}</p>
<p>Git: <a href="{{ profile.git_link }}">{{ profile.git_link }}</a></p>
<p>LinkedIn: <a href="{{ profile.linkedin_link }}">{{ profile.linkedin_link }}</a></p>
<p>Twitter: <a href="{{ profile.twitter_link }}">{{ profile.twitter_link }}</a></p>
<p>Joined: {{ profile.created | date:"d M Y"}}</p>

<h3>Skills</h3>
<a href="{% url 'add-skill' %}">Add skill</a>

{% for skill in skills %}
<p>{{ skill.name }} : {{ skill.description }} - <a href="{% url 'delete-skill' skill.id %}">Delete skill</a></p>
{% endfor %}

{% endblock content %}
