{% extends 'main.html' %}



{% block content %}


{% if page == 'register' %}

    <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit"  value="SignUp">
            
    </form>


{% else %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <label for="">Username:</label>
        <input type="text" name="username" placeholder="Enter your username">

        <label for="">Password:</label>
        <input type="password" name="password" placeholder="••••••••">

        <input type="submit" value="Login">
    </form>

    <p>You don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
{% endif %}

{% endblock content %}
