{% extends 'main.html' %}


{% block content %}

<main class="message-container">
    <div class="message-box">
        <h3>New Messages(<span>{{ unread_count }}</span>)</h3>
        <ul>
            {% for message in message_requests %}

            {% if message.is_read == False %}
            <li class="unread-message">
            {% else %}
            <li>
            {% endif %}
                <a href="{% url 'message' message.id %}">
                    <span class="message__author">From: {{ message.sender }}</span>
                    <span class="message__subject">{{ message.subject | slice:"100" }}</span>
                    <span class="message__date">{{ message.created }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>

{% endblock content %}