body {
    background-color: F4F5F7 !important;
}


/* Navbar styling */
.navbar {
    font-size: 20px;
    background-color: #321e3a;
    height: 80px;
    position: relative;
    z-index: 1000;
}

.nav-link {
    margin-right: 5px;
}

.navbar-nav li.nav-item a.nav-link {
    color: #F4F5F7;
}

.navbar-nav .nav-link:hover {
    color:  #fff !important;
    opacity: 0.7;
}

.navbar-toggler {
    background-color: #F4F5F7 !important;
}

.navbar-collapse.collapse.show .navbar-nav {
    background-color: #321e3a;  /* ドロップダウンの背景色を設定 */
}

.navbar-collapse.collapse.show .navbar-nav .nav-link {
    color: #F4F5F7;  /* ドロップダウン内の文字色を設定 */
    text-align: center;
}


/* Search form */
.search-form .btn {
    color: #F4F5F7;
    background-color: #321e3a;
    height: 47px;
}


/* Ideas page styling */