{% extends 'main.html' %}



{% block content %}

<form action="{% url 'ideas' %}" method="GET">
    <h2>Search interesting Ideas!</h2>
    <label for="">Search: </label>
    <input type="text" name="search_query" value="{{ search_query }}" placeholder="Search by any keywords...">
</form>


<div class="container-fluid">
    <div class="row">
        {% for idea in ideas %}
        <div class="col-3">
            <div class="card" style="width: 18rem; margin: 20px;">
                <img src="{{ idea.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ idea.title }}</h5>
                    
                    {% for tag in idea.tags.all  %}
                    <p class="card-text"><a href="#">{{ tag }}</a></p> 
                    {% endfor %}

                    <p>Likes: {{ idea.like }}</p>
                    <p>Views: {{ idea.view_total }}</p>
                    <p>Created at: {{ idea.created | date:"d M Y" }}</p>
                    <a href="{% url 'idea-detail' idea.id %}" class="btn btn-primary">Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}