{% extends 'main.html' %}

{% load humanize %}

{% block content %}

<div class="container detail-contents">
    <div class="row">
        <div class="col-md-4">
            <h3>Tags</h3>
            {% for tag in detail.tags.all %}
            <div class="tag-list">
                <div class="pill">{{ tag }}</div>
            </div>
            {% endfor %}
            <br>
            {% if detail.idea_link %}
            <button type="button" class="btn btn-outline-secondary idea-link">
                <a class="idea-link" href="{{ detail.idea_link }}">Source Link</a>
            </button>
            {% endif %}
            <br>
            <div class="fav-info">
                Likes {{ detail.like | intcomma }}
                Dislikes: {{ detail.dislike | intcomma }}
                Views: {{ detail.view_total | intcomma }}
            </div>
        </div>
        <div class="col-md-6 idea-detail">
            <img src="{{ detail.image_url }}" alt="idea-image">
            <h2>{{ detail.title }}</h2>
            <div class="owner-name">
                By <a href="{% url 'profile-detail' detail.owner.id %}">{{ detail.owner.name }}</a>
            </div>
            <br>
            <h3 class="singleProject__subtitle">About the idea</h3>
            <div class="idea description">
                {{ detail.description| linebreaksbr }}
            </div>
            <br>
            <div class="feedbacks">
                <h3>Feedback</h3>

                <!-- review submission form -->
                {% if request.user.profile.id in detail.reviewers %}
                <p class="caution">You have already submitted your review for this idea</p>
                {% elif request.user.profile == detail.owner %}
                <p class="caution">You cannot review your own idea</p>
                {% elif request.user.is_authenticated %}
                <form action="{% url 'idea-detail' detail.id %}" method="POST">
                    {% csrf_token %}

                    <select class="form-select form-select-lg mb-3" name="value" aria-label=".form-select-lg example">
                        {% for choice in form.value %}
                        {{ choice }}
                        {% endfor %}
                    </select>

                    <div class="form-floating">
                        <textarea class="form-control" name="body" placeholder="Leave a comment here"
                            id="floatingTextarea2" style="height: 100px"></textarea>
                    </div>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
                {% else %}
                <p class="caution">You want to leave your comment? Please <a href="{% url 'login' %}">Login</a></p>
                {% endif %}

                <!-- show all reviews with comments -->
                {% for review in detail.review_set.all %}
                {% if review.body %}
                    <div class="review">
                        <p class="review-owner">
                            <a href="{% url 'profile-detail' review.owner.id %}">{{ review.owner }}</a>
                        </p>
                        <p class="review-body">{{ review.body | linebreaksbr }}</p>
                        <hr>
                    </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}