{% extends 'main.html' %}

{% load humanize %}
{% load static %}

{% block content %}

<div class="search-form d-flex justify-content-center my-4">
    <form action="{% url 'ideas' %}" method="GET" class="row g-2 align-items-center">
        <div class="col-lg-11 col-sm-9">
            <input class="form-control form-control-lg" type="text" name="search_query" value="{{ search_query }}" placeholder="Search ideas by any keywords...">
        </div>
        <div class="col-lg-1 col-sm-3">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </form>
</div>


<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
        {% for idea in ideas %}
        <div class="col mb-4">
            <div class="card" style="max-width: 100%;">
                <a href="{% url 'idea-detail' idea.id %}">
                    <img src="{{ idea.image.url }}" class="card-img-top" alt="idea image">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'idea-detail' idea.id %}"><strong>{{ idea.title }}</strong></a>
                    </h4>
                    
                    <div class="author-name">
                        By <em><a href="{% url 'profile-detail' idea.owner.id %}">{{ idea.owner.name }}</a></em>
                    </div>
                    
                    {% for tag in idea.tags.all  %}
                    <div class="tag-list">
                        <div class="pill">{{ skill.name }}</div>
                    </div> 
                    {% endfor %}

                    <div class="user-favs">
                        <span>Likes:</span> {{ idea.like | intcomma }} <br>
                        <span>Dislikes:</span> {{ idea.dislike | intcomma }} <br>
                        <span>Views:</span> {{ idea.view_total | intcomma }}
                    </div>
                    <div class="date">
                        <span>Created at:</span> {{ idea.created | date:"d M Y" }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% include 'pagination.html' with queryset=ideas custom_range=custom_range %}

{% endblock content %}