{% extends 'main.html' %}


{% block content %}

<h1>{{ detail.title }}</h1>

{% if request.user.profile == detail.owner %}
    <hr>
    <a href="{% url 'edit-idea' detail.id %}">Edit</a>
    <a href="{% url 'delete-idea' detail.id %}">Delete</a>
    <hr>
{% endif %}

{% if detail.idea_link %}
    <p>Link: <a href="{{ detail.idea_link }}" target="_blank">{{ detail.idea_link }}</a></p>  
{% endif %}

<img src="{{ detail.image.url }}" alt="">

<h3>Description</h3>
<p>Owner: {{ detail.owner.name }}</p>   
<p>{{ detail.description }}</p>

<h3>Tags</h3>
{% for tag in detail.tags.all %}
<p><a href="">{{ tag }}</a></p>
{% endfor %}

<h3>Feedbacks</h3>
<p>Total Views: {{ detail.view_total }}</p>
<p>Likes: {{ detail.like }}</p>
<p>Dislikes: {{ detail.dislike }}</p>
<p>Created at: {{ detail.created }}</p>

<h3>Reviews</h3>


{% if request.user.profile.id in detail.reviewers %}
    <p>You have already submitted your review for this idea</p>
{% elif request.user.profile == detail.owner %}
    <p>You cannot review your own idea</p>
{% elif request.user.is_authenticated %}
    <form action="{% url 'idea-detail' detail.id %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="submit">        
    </form>
{% else %}
    <p>You wanna leave your comment? Please <a href="{% url 'login' %}">Login</a></p>
{% endif %}

{% endblock content %}
    