{% extends 'main.html' %}


{% block content %}

<h1>{{ detail.title }}</h1>

{% if detail.idea_link %}
    <p>Link: <a href="{{ detail.idea_link }}" target="_blank">{{ detail.idea_link }}</a></p>  
{% endif %}

<img src="{{ detail.image.url }}" alt="">

<h2>Description</h2>    
<p>{{ detail.description }}</p>

{% for tag in detail.tags.all %}
<p><a href="">{{ tag }}</a></p>
{% endfor %}

<p>Total Views: {{ detail.view_total }}</p>
<p>Likes: {{ detail.like }}</p>
<p>Created at: {{ detail.created }}</p>

{% endblock content %}
    