{% extends 'main.html' %}

{% load humanize %}

{% block content %}

<div class="search-form d-flex justify-content-center my-4">
    <form action="{% url 'ideas' %}" method="GET" class="row g-2 align-items-center">
        <div class="col-lg-11 col-sm-9">
            <input class="form-control form-control-lg" type="text" name="search_query" value="{{ search_query }}" placeholder="Search ideas by any keywords...">
        </div>
        <div class="col-lg-1 col-sm-3">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </form>
</div>


<div class="container-fluid">
    <div class="row">
        {% for idea in ideas %}
        <div class="col-4">
            <div class="card" style="width: 450px; margin: 10px;">
                <img src="{{ idea.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ idea.title }}</h5>
                    
                    {% for tag in idea.tags.all  %}
                    <p class="card-text"><a href="#">{{ tag }}</a></p> 
                    {% endfor %}

                    <p>Likes: {{ idea.like | intcomma }}</p>
                    <p>Dislikes: {{ idea.dislike | intcomma }}</p>
                    <p>Views: {{ idea.view_total | intcomma }}</p>
                    <p>Created at: {{ idea.created | date:"d M Y" }}</p>
                    <a href="{% url 'idea-detail' idea.id %}" class="btn btn-primary">Detail</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'pagination.html' with queryset=ideas custom_range=custom_range %}

{% endblock content %}