<body class="d-flex flex-column">
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="container text-center">
            <p>
                If you find any bugs, let me know on my email
                <a href = "mailto:haruto-cs@outlook.com?subject = Feedback&body = Message" style="text-decoration: underline;">
                    haruto-cs@outlook.com
                </a>            
            </p>
            <span class="text-muted">© 2023 Haruto Mori. All rights reserved.</span>
        </div>
    </footer>
</body>