{% load static %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a href="{% url 'ideas' %}" class="navbar-logo navbar-brand">
            <img src="{% static 'images/logo.png' %}" alt="logo" height="85px" class="d-block">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'ideas' %}">Ideas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profiles' %}">Users</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'message-box' %}">Message Box</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add-idea' %}">Add Idea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login/SignUp</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>